


<div class="p-4 contaner">
    <div class="row p-4">

        <div class="col-md-12">
            <h3>Add New Employee</h3>
        </div>
    </div>

    <div class="row p-4">
        <div class="col-md-6">
            <form method="post">
                <div class="mb-3">
                    <label for="Name" class="form-label fw-bold">Dapartment Name</label>
                    <input type="text" class="form-control" name="Name" value="" />
                    <span class="text-danger"></span>
                </div>
                
                <button type="submit" class="btn btn-dark">Submit</button>

            </form>
        </div>

    </div>
</div>